*  {
     margin: 0;
     padding: 0;
     -webkit-box-sizing:border-box;
     -moz-box-sizing:border-box;
     box-sizing: border-box;     
}

body > #appActividades {
	background: #8d7f93;
	font-family:sans-serif;
	line-height: 25px;

} 

#appActividades {
	display: none;
}  

a{
	text-decoration: none;
	color: #462255;
}

.btn-menu {
	display: block;
	padding: 20px;
	background: #b4bbc1;
	color: #462255;
    
}
/* para mover a la derecha el boton menu*/
.btn-menu .icono{
	float: right;
}

.contenedor-menu {
	width: 80%;
	min-width: 550px;
	margin: 50px;
	display: inline-block;
	font-family:'sans-serif';
	line-height: 25px;

}

.contenedor-menu .menu {
	width: 100%;
		
}

.contenedor-menu ul {
	list-style: none;
	
}
	
 .contenedor-menu .menu li a {
 	color: #CFC3D4 ;
 	display: block;
 	padding: 15px 25px;
 	background: #e9e9e9;

 } 
 
/*contenedor de iconos y menu*/
.contenedor-menu .menu li a:hover {
	background: #8d7f93;
	color: #462255;
	font-size: 28px;

}

.contenedo-menu .menu .icono {
	font-size: 20px;
	line-height: 25px;
	font-size: 22px;


}

.contenedor-menu .menu .icono.izquierdo {
	float:left;
	margin-right: 15px;
	
}

.contenedor-menu .menu .icono.derecho {
	float: right;
	margin-left: 15px;

}
.contenedor-menu .menu ul{
     display: block;
}

.contenedor-menu .menu ul li a{
	background: #4b1b56;
	color: #e9e9e9;

}
.contenedor-menu .menu .activado > a {
     background: #1a95d5;
     color:#CFC3D4;
 
}

@media screen and (max-width-max: 320px){
	body{
		padding-top: 80px: 
	}

	.contenedor-menu {
		margin: 0;
		width: 100%;
		position: absolute;
		top: 0;
		z-index:1000;
	}

	.btn-menu {
		display: none;
	}
	.contenedor-menu .menu {
		display:none;
	}

}

/*Empieza los css de Login*/


h1 {
	text-align: center;
	padding-top: 10px;
	color: white;
	font-size: 27px;
	font-family: 'Indie Flower', cursive;
}

h2 {
	text-align: center;
	color: white;
	font-size: 22px;
	padding-top: inherit;
}

.loginBox {
	text-align: center;
	color: white;
	font-family: Calibri;
	padding: 70px;
}

#contrasena {
	height: 50px;
	width: 400px;
	font-size: 15px;
	margin: 15px;
}

#correoElectronico {
	height: 50px;
	width: 400px;
	font-size: 15px;
}

.iniciar {
    background-color: #8777a5;
    border-radius: 12px;
    color: white;
    padding: 24px 36px;
    text-align: center;
    display: inline-block;
    font-size: 25px;
    margin: 40px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    font-family: Calibri;
    vertical-align: middle;
}

/*.iniciar:hover {
	background-color: red;
}*/

.iniciar a:link {
	text-decoration: none;
}

a {
	color: white;
}

.muaImagen {
  background: url(./images/formobile.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: auto;
}

.muaImagen .loginBox {
	/*position: absolute;*/
	top: 20%;
	right: 30%;
	overflow: hidden;
}

@media screen and (min-width: 768px) {
	.muaImagen {
		background: url("./images/fortablet.png") no-repeat center center fixed;
		-webkit-background-size: cover;
  		-moz-background-size: cover;
  		-o-background-size: cover;
  		background-size: cover;
  		height: auto;
	}
}

@media screen and (min-width: 1024px) {
	.muaImagen {
		background: url("./images/fortablet.png") no-repeat center center fixed;
		-webkit-background-size: cover;
  		-moz-background-size: cover;
  		-o-background-size: cover;
  		background-size: cover;
  		height: auto;
	}

	h1 {
	padding-top: initial;
	font-size: 80px;
	}

	h2 {
	font-size: 50px;
	padding-top: initial;
	}
}	
    

